*{
    box-sizing: border-box;
}

#a{
    background-color: yellowgreen;
    text-align: center;
    margin :auto ;
}
#b{
    background-color: yellow;
    justify-content: center;
    padding : auto ;
    margin :auto ;
}
#start:hover {
background-color: thistle;
}
#start{
    margin:auto;
    
    color: rgb(228, 114, 95);
    background-color: aqua;
    display: block;
    text-align: center;
}
#c{
    border-radius: 5%;
     display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  grid-template-rows: 1fr 1fr;    /* 2 rows */
    background-color: rgb(201, 244, 132);
    text-align: center;
   
}
#c button{
    border-radius: 50%;
    width : 200px ;
    height : 200px ;
    margin : 20px ;
}


.btnFlash{
    background-color: rgb(234, 130, 130) !important;
    color:rgb(90, 14, 255);
    animation: rotate 0.7s linear;
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.userbtnFlash{
    background-color: rgb(251, 10, 10) !important;
    color:rgb(11, 11, 12);
    animation: rotate 0.7s linear;
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}